[Desktop Entry]
Version=1.0
Name=Ocarina of Time (SoH)
Exec=/opt/oot-bin/launch.sh
Terminal=false
Icon=oot-bin
Type=Application
Categories=Game;
StartupWMClass=soh.elf
